* {
  margin: 0;
  padding: 0;
  @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.parentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.inputContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  min-width: 520px;
  border-top: 1px solid #ccc;
  padding-top: 15px;
}

.inputField {
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.addButton {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.todoContainer {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background-color: #cdd4da;
  border: 1px solid #a0a6aa;
}

.todoText {
  flex: 1;
  color: #3a3a3a;
}

.editInput {
  flex: 1;
  padding: 5px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.editButton,
.deleteButton,
.saveButton {
  padding: 8px 10px;
  margin-left: 10px;
  font-size: 0.9rem;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.deleteButton {
  background-color: #ffffff;
  color: black;
}

.saveButton {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}